/*
    DEMO STYLE
*/
/*.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}*/

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.navbar{
    background-color: rgb(235, 222, 207,0.6) !important; 
}

#sidebar {
    min-width: 350px;
    max-width: 350px;
    min-height: 749px;
    height: calc(100vh - 49px);
    background: rgb(235, 222, 207,0.7);/*rgb(255, 242, 227)*/
    color: black;
    transition: all 0.3s;
    z-index: 2;
    position: absolute;
    overflow: auto;
}

#sidebar.active {
    margin-left: -350px;
}

#sidebar .sidebar-header {
    padding: 20px;
    /*border-bottom: solid darkgreen 1px;*/
    background: #72b890;
}

/*#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}*/


#sidebar ul li a {
    color: #5e7368 !important;
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background-color: #82c8a0;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#sidebar li{
    list-style-type: none;
}

li ul li{
    margin-left: 20px;
}

#Modal ul{
    padding-left: 0;
    margin-top: 10px;
}

#Modal li{
    list-style-type: none;
    padding: 10px;
}

#Modal li:hover,
#Modal li:active{
    background-color: #82c8a0;
}

#Modal li.active{
    background-color: #82c8a0;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

#Modal div.row > div{
    overflow: auto; 
    height: 386px;
}

#Modal div > p{
    margin-left: 15px; 
}

ul.collapse{
    border-bottom: solid 1px #82c8a0;  
}

.list-unstyled  ul{
    padding: 0px;
}
#sidebar ul.list-unstyled ul li a {
    font-size: 12px;
}

div.pagina a.datos {
    text-decoration: underline;
    color: #82c8a0;
}